<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Recruitment task</title>
    <meta name="robots" content="noindex" />
    <style type="text/css">
      th,
      td {
        padding: 0.25rem;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2>Expenses list</h2>
      <form @submit.prevent="addExpense">
        <label for="date">Date:</label>
        <input type="date" id="date" v-model="newExpense.date" required />
        <label for="category">Category:</label>
        <input
          type="text"
          id="category"
          v-model="newExpense.category"
          required
        />
        <label for="amount">Amount:</label>
        <input type="number" id="amount" v-model="newExpense.amount" required />
        <button type="submit">Add Expense</button>
      </form>
      <form>
        <label for="yearMonth">Filter by Year-Month:</label>
        <input
          type="month"
          id="yearMonth"
          v-model="selectedYearMonth"
          required
        />
      </form>
      <form>
        <label>Filter by category:</label>
        <select v-model="selectedCategories" multiple>
          <option v-for="category in categories" :value="category">
            {{ category }}
          </option>
        </select>
      </form>
      <form id="expenseFilterForm">
        <label for="minAmount">Minimum Amount:</label>
        <input
          type="number"
          v-model="minAmount"
          name="minAmount"
          step="0.01"
          min="0"
        />
        <br />
        <label for="maxAmount">Maximum Amount:</label>
        <input
          type="number"
          v-model="maxAmount"
          name="maxAmount"
          step="0.1"
          min="0"
        />
        <br />
      </form>
      <table border="1">
        <thead>
          <tr>
            <th>Month</th>
            <th>Category/Day</th>
            <th>Expenses</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(expensesInDay, date) in expensesByDate">
            <tr>
              <td
                :rowspan="daysInMonth(date) * (selectedCategories.length > 0 ? selectedCategories.length : Object.keys(expensesInDay).length) + 1 + Object.keys(expensesInDay).length"
              >
                {{date}}
              </td>
              <td colspan="2">
                total: {{Object.values(expensesInDay).map(obj =>
                Object.values(obj).flat()).flat().reduce((a,b)=>a+b)}}
              </td>
            </tr>
            <template v-for="(categoryExpenses, expense) in expensesInDay">
              <tr>
                <td>{{expense}}</td>
                <td>
                  total: {{Object.values(categoryExpenses).flat()
                  .reduce((a,b)=>a+b)}}
                </td>
              </tr>
              <tr v-for="day in daysInMonth(date)">
                <td>{{day}}</td>
                <td v-if="categoryExpenses[day]">
                  {{categoryExpenses[day].join(", ")}}
                </td>
                <td v-else>-</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
    <script type="module">
      import {
        createApp,
        reactive,
        computed,
        ref,
        watch,
      } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

      createApp({
        setup() {
          const selectedYearMonth = ref(null);
          const categories = ref([]);
          const selectedCategories = ref([]);
          const minAmount = ref(0);
          const maxAmount = ref(99999);
          const expenses = reactive([
            { date: "2023-03-01", category: "food", amount: 55 },
            { date: "2023-03-01", category: "food", amount: 6 },
            { date: "2023-03-31", category: "fuel", amount: 210.2 },
            { date: "2023-03-31", category: "food", amount: 23 },
            { date: "2023-04-02", category: "food", amount: 9 },
          ]);

          categories.value = [
            ...new Set(expenses.map((expense) => expense.category)),
          ];

          const expensesByDate = computed(() => {
            const result = {};
            console.log(maxAmount.value);
            let expensesClone = expenses;
            if (selectedYearMonth.value) {
              expensesClone = expenses.filter(
                (expense) =>
                  expense.date.slice(0, 7) === selectedYearMonth.value
              );
            }
            if (selectedCategories.value.length > 0) {
              expensesClone = expensesClone.filter((expense) =>
                selectedCategories.value.includes(expense.category)
              );
            }
            expensesClone = expensesClone.filter(
              (expense) =>
                expense.amount >= minAmount.value &&
                expense.amount <= maxAmount.value
            );

            expensesClone.forEach((expense) => {
              const yearMonth = expense.date.slice(0, 7);
              const day = parseInt(expense.date.slice(8));
              if (!result[yearMonth]) {
                result[yearMonth] = {};
              }
              if (!result[yearMonth][expense.category]) {
                result[yearMonth][expense.category] = {};
              }
              if (!result[yearMonth][expense.category][day]) {
                result[yearMonth][expense.category][day] = [];
              }
              result[yearMonth][expense.category][day].push(expense.amount);
            });
            return result;
          });

          function daysInMonth(yearMonth) {
            const [year, month] = yearMonth.split("-").map(Number);
            return new Date(year, month, 0).getDate();
          }

          const newExpense = reactive({
            date: "",
            category: "",
            amount: null,
          });

          function addExpense() {
            expenses.push({
              date: newExpense.date,
              category: newExpense.category,
              amount: newExpense.amount,
            });
            newExpense.date = "";
            newExpense.category = "";
            newExpense.amount = null;
          }

          watch(selectedYearMonth, () => {
            expensesByDate.value;
          });
          watch(minAmount, () => {
            expensesByDate.value;
          });
          watch(maxAmount, () => {
            expensesByDate.value;
          });

          return {
            expensesByDate,
            selectedYearMonth,
            newExpense,
            daysInMonth,
            addExpense,
            categories,
            selectedCategories,
            minAmount,
            maxAmount,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
