<html>
  <head>
    <meta charset="utf-8" />
    <title>Administration App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    {{{body}}}

    {{! <button id="getUsers"> get Users</button> }}

  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
</html>