<div class="chats">
  <div>
    <h1>Global chat</h1>
    <div id="socketId">Current socketId: null</div>
    <ul id="messages">
      {{#each messages}}
        <li class="message" id="{{this._id}}">
          {{this.user}}:
          {{this.content}}
          |
          {{this.date}}
        </li>
      {{/each}}
    </ul>
    <div>
      <input id="input" placeholder="Type a message..." />
      <button id="submit" type="submit">Send message</button>
    </div>
  </div>
  <div>
    <h1>Public chat</h1>
    <div id="socketId-p">Current socketId: null</div>
    <ul id="messages-p">
    </ul>
    <div>
      <input id="input-p" placeholder="Type a message..." />
      <button id="submit-p" type="submit">Send message</button>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/globalChat.js" defer></script>
<script src="/publicChat.js" defer></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>