<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Login Here</h1>
  <div class="col-lg-3 mx-auto">
    <form onSubmit="return false;">
      <div class="mb-2">
        <label for="login" class="form-label">Login</label>
        <input
          id="loginLogin"
          type="text"
          class="form-control"
          name="login"
          placeholder="Login"
        />
      </div>
      <div class="mb-2">
        <label for="password" class="form-label">Password</label>
        <input
          id="loginPassword"
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
        />
      </div>
      <button id="button" class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/login.js" defer></script>